<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "请随意扯淡。。。" %>
  </div>
  <%= f.submit "发布", class: "btn btn-large btn-primary" %>
<% end %>
