<footer class="footer">
  <small>
		powered by <%= link_to "lcq", user_path(1) %>,just a Web App for exercise.
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于",   about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
      <li><a href="http://qun.qq.com/air/#43015213">No.1</a></li>
    </ul>
  </nav>
</footer>
